In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_openml

import kagglehub

# Download latest version
# path = kagglehub.dataset_download("vikrishnan/boston-house-prices")

# print("Path to dataset files:", path)

/Users/vtaneja/AI_ML/IITD/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/vikrishnan/boston-house-prices?dataset_version_number=1...

100%|██████████| 12.8k/12.8k [00:00<00:00, 3.86MB/s]

Extracting files...
Path to dataset files: /Users/vtaneja/.cache/kagglehub/datasets/vikrishnan/boston-house-prices/versions/1

In [14]:
# read the space separated file rather than comma separated
dataset=pd.read_csv("housing.csv", header=None, delimiter=r'\s+')
dataset

          0     1      2   3      4   ...     9     10      11    12    13
0    0.00632  18.0   2.31   0  0.538  ...  296.0  15.3  396.90  4.98  24.0
1    0.02731   0.0   7.07   0  0.469  ...  242.0  17.8  396.90  9.14  21.6
2    0.02729   0.0   7.07   0  0.469  ...  242.0  17.8  392.83  4.03  34.7
3    0.03237   0.0   2.18   0  0.458  ...  222.0  18.7  394.63  2.94  33.4
4    0.06905   0.0   2.18   0  0.458  ...  222.0  18.7  396.90  5.33  36.2
..       ...   ...    ...  ..    ...  ...    ...   ...     ...   ...   ...
501  0.06263   0.0  11.93   0  0.573  ...  273.0  21.0  391.99  9.67  22.4
502  0.04527   0.0  11.93   0  0.573  ...  273.0  21.0  396.90  9.08  20.6
503  0.06076   0.0  11.93   0  0.573  ...  273.0  21.0  396.90  5.64  23.9
504  0.10959   0.0  11.93   0  0.573  ...  273.0  21.0  393.45  6.48  22.0
505  0.04741   0.0  11.93   0  0.573  ...  273.0  21.0  396.90  7.88  11.9

[506 rows x 14 columns]

In [15]:
dataset.columns=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

In [16]:
dataset

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0    0.00632  18.0   2.31     0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222.0     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273.0     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273.0     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273.0     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273.0     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273.0     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

CRIM: per capita crime rate by town <br>
ZN: proportion of residential land zoned for lots over 25,000 sq.ft.<br>
INDUS: proportion of non-retail business acres per town<br>
CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)<br>
NOX: nitric oxides concentration (parts per 10 million)<br>
RM: average number of rooms per dwelling<br>
AGE: proportion of owner-occupied units built prior to 1940<br>
DIS: weighted distances to ﬁve Boston employment centers<br>
RAD: index of accessibility to radial highways<br>
TAX: full-value property-tax rate per $10,000<br>
PTRATIO: pupil-teacher ratio by town<br>
B: 1000(Bk−0.63)2 where Bk is the proportion of blacks by town<br>
LSTAT: % lower status of the population<br>
MEDV: Median value of owner-occupied homes in $1000s

### Target: MEDV
### Rest are parameters

In [17]:
X = dataset.drop('MEDV', axis=1)

In [18]:
y = dataset['MEDV']

In [19]:
X

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31     0  0.538  ...    1  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07     0  0.469  ...    2  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07     0  0.469  ...    2  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18     0  0.458  ...    3  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18     0  0.458  ...    3  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93     0  0.573  ...    1  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93     0  0.573  ...    1  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93     0  0.573  ...    1  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93     0  0.573  ...    1  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93     0  0.573  ...    1  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [20]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [22]:
import sklearn.model_selection as train_test_split
X_train, X_test, y_train, y_test = train_test_split.train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# Standardize the training data first
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_tranformed = scaler.fit_transform(X_train) # Training data for learning and transforming
X_test_tranformed = scaler.transform(X_test) # Test data for only transforming, no learning needed

In [ ]:
# from sklearn.linear_model import LinearRegression